.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 65px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-bottom: 146px;
}

@media screen and (max-width: 900px) {
   .cards {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
     justify-content: center;
     row-gap: 88px;
  }
}
