.cards {
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

@media screen and (max-width: 768px) {
   .cards {
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     align-items: center;
     row-gap: 88px;
  }
}
