.quotes__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.23;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 122px;
  max-width: 394px;
}

@media screen and (max-width: 702px){
  .quotes__title {
    margin-bottom: 80px;
    font-size: 25px;
  }
}
