@keyframes flying {
  from {transform: translate(100%,0);
  }
  to {transform: translate(-25%,0);
  }
}

.header__animation {
  background-image: url(../../../images/favicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  min-width: 100%;
  height: 50px;
  top: 31px;
  z-index: -1;
  animation: flying 15s ease-in-out infinite;
}

@media screen and (max-width:900px){
  .header__animation {
    top: 16px;
  }
}

@media screen and (max-width:600px){
  .header__animation {
    top: 0;
  }
}
