@keyframes flying {
  from {left: 100%;
  }
  to {left: -150px;
  }
}

.header__animation {
  background-image: url(../../../images/airplane.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 150px;
  height: 48px;
  top: 31px;
  z-index: -1;
  animation: flying 15s cubic-bezier(.62, .18, .72, .25);
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 900px) {
  .header__animation {
    top: 3px;
  }
}

@media screen and (max-width: 600px) {
  .header__animation {
    top: 0;
  }
}
