.place__image {
  position: absolute;
  min-height: 120%;
  width: 100%;
  top:10%;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  align-self: center;
  transition: transform 1s ease;
}

.place__image:hover {
  transform:scale(1.2);
}

@media screen and (max-width:900px){
  .place__image {
    margin: 0 auto;
    max-width: 80%;
    min-width: 320px;
  }
}
