.place__image-container {
    position: relative;
    display: block;
    overflow: hidden;
    grid-area: image;
}

.place__image-container:after {
  content: '';
  display: block;
  padding-top: calc(100%*534/640);
}

.place__image {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top:0;
  bottom: 0;
  object-fit: cover;
  align-self: center;
}

@media screen and (max-width:900px){
  .place__image {
    margin: 0 auto;
    width: 90%;
  }
}
