.place__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  transition: transform 1s ease;
  min-width: 320px;
}

.place__image:hover {
  transform: scale(1.1);
}

@media screen and (max-width:900px) {
  .place__image {
    margin: 0 auto;
    max-width: 80%;
  }
}

@media screen and (max-width:450px) {
  .place__image {
    max-width: 400px;
  }
}
