.space-after {
  margin: 0 auto 130px;
}

.space-after:last-of-type {
  margin-bottom: 128px;
}

@media screen and (max-width: 900px) {
  .space-after {
    margin-bottom: 80px;
  }
  .space-after:last-of-type {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .space-after {
    margin-bottom: 60px;
  }
  .space-after:last-of-type {
    margin-bottom: 45px;
  }
}
