.lead {
  width: calc(100%*1144/1280);
  margin: 0 auto 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
    width: 100%;
  }
}
