.header__complaint {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
}

@media screen and (max-width:450px){
  .header__complaint {
    font-size: 10px;
  }
}
