.header__complaint {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  background-color:rgba(255, 255, 255, .8);
  padding: 5px;
  margin: -5px;
  border-radius: 10%;
}

.header__complaint:hover {
  background-color:rgba(255, 190, 190, 0.5);
}

@media screen and (max-width:450px){
  .header__complaint {
    font-size: 10px;
  }
}
