.header {
  width: calc(100%*1144/1280);
  margin: 0 auto;
  padding: 47px 0 84px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width:900px){
  .header {
    padding: 30px 0 64px;
  }
}

@media screen and (max-width:600px){
  .header {
    padding: 15px 0 50px;
  }
}
