.header {
  width: 100%;
  margin: 0 auto;
  padding: 47px calc(100%*68/1280) 44px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
}

@media screen and (max-width:900px){
  .header {
    padding: 31px calc(100%*68/1280) 20px;
  }
}

@media screen and (max-width:600px){
  .header {
    padding: 15px calc(100%*68/1280) 15px;
  }
}
