.footer__container {
  width: 100%;
  max-width: 287px;
  height: 23px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width:600px){
  .footer__container {
    max-width: 230px;
    height: 18.4px;
  }
}
