.header__link {
  text-decoration: none;
  color: #000;
  margin: -5px 33px -5px -5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  background-color:rgba(255, 255, 255, .8);
  padding: 5px;
  border-radius: 10%;
}

.header__link:hover {
  background-color:rgba(254, 205, 167, .5);
}

@media screen and (max-width: 600px){
  .header__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 450px){
  .header__link {
    margin: -3px 7px -3px -3px;
    font-size: 10px;
    padding: 3px;
  }
}
