.place__info {
  max-width: 400px;
  margin: auto auto auto 70px ;
  grid-area: info;
}

@media screen and (max-width: 900px) {
  .place__info {
    margin: 0 auto;
    max-width: 75%;
  }
}

@media screen and (max-width: 370px) {
  .place__info {
    margin: 0 auto;
    max-width: 90%;
  }
}
