.lead__title {
  max-width: 525px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  .lead__title {
    margin: 0 auto 50px;
  }
}
