.place__paragraph {
  color: #000;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width:650px){
  .place__paragraph {
    font-size: 18px;
  }
}
