.lead__switcher-contaner {
  margin: 0 auto;
  overflow: hidden;
  width: 356px;
  height: calc(356px + 15px);
}

@media screen and (max-width: 900px) {
  .lead__switcher-contaner {
    width: 100%;
  }
}
