.lead__image {
  background-image: url('../../../images/lead-image2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: calc(100% - 15px);
}

