.lead__image {
  background-image: url(../../../images/intro-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 356px;
  height: 356px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .lead__image {
    width: 100%;
    background-position: center;
  }
}
