.footer__list {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  animation: scroll 5s infinite alternate linear;
  list-style-type: none;
}

@keyframes scroll {
  0% {
    left: 0%;
  }
  100% {
    left: -110%;
  }
}

