@keyframes scroll {
  0% {
    top: 0%;
  }
  100% {
    top: -176.4%; /*100%*Hitem*nitem/Hcontainer - тут не размер шрифта нужен - а размер строки*/
  }
}

.footer__list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  animation: scroll 5s infinite linear;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  top: 0;
}

.footer__list::before {
  content: 'Web-Craft';
  text-align: center;
  font-weight: 700;
  font-size: 20px;

}
/*что бы анимация не мигала на граничных точках создаем псевдоэлемент*/
.footer__list::after {
  content: 'Татьяна Парфенюк';
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width:600px) {
  .footer__list::before {
    font-size: 15px;
  }

  .footer__list::after {
    font-size: 15px;
  }
}
