.quotes {
  padding-left: calc(100% * 68 / 1280);
  padding-right: calc(100% * 68 / 1280);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .quotes {
   max-width: calc(100%*678/768);
 }
}
