.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-areas: "image info";
  position: relative;
}

.place:nth-last-of-type(2n+2) {
  grid-template-areas: "info image"
}

@media screen and (max-width:900px) {
  .place {
    grid-template-areas: "image" "info";
    gap: 15px;
    margin-bottom: 20px;
  }

  .place:nth-last-of-type(2n+2) {
    grid-template-areas: "image" "info";
  }

  .place:last-of-type {
    margin: 0;
    padding-bottom: 15px;
  }
}
